/****logo***/
.principal__logo {
  height: 127px;
  width: 127px;
}

/***button***/
.principal__btn {
  min-width: 192px;
  min-height: 54px;
  background: var(--first-color) !important;
  box-shadow: 0 0 0 !important;
  border-color: var(--first-color) !important;
  border-radius: 50px !important;
  letter-spacing: 0.16rem;
}

.principal__btn:hover {
  opacity: 0.8;
  color: var(--white-bg-color);
}

.principal__btn p {
  color: var(--white-color);
}
