/****logo***/
.principal__logo {
  height: 127px;
  width: 127px;
}

/***button***/
.secondary__btn,
.principal__btn,
.tertiary__btn {
  min-width: 192px;
  min-height: 54px;
  box-shadow: 0 0 0 !important;
  border-radius: 50px !important;
  letter-spacing: 0.16rem;
}

.principal__btn {
  background: var(--first-color) !important;
  border-color: var(--first-color) !important;
}

.secondary__btn {
  background: var(--second-color) !important;
  border-color: var(--second-color) !important;
}

.tertiary__btn {
  background: var(--bs-red) !important;
  border-color: var(--bs-red) !important;
}

.principal__btn:hover,
.secondary__btn:hover,
.tertiary__btn:hover {
  opacity: 0.8;
  color: var(--white-bg-color);
}

.principal__btn p,
.secondary__btn p,
.tertiary__btn p {
  color: var(--white-color);
}
