.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #000000ba;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all .8s;
}

.modal.is-open {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 1rem;
  min-width: 300px;
  min-height: 224px;
  max-width: 600px;
  max-height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid var(--gray-light-color);
  border-radius: 4px;
  background-color: var(--white-bg-color);
  animation: popup ease-out 0.4s;
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 18px;
  border: 2px solid var(--dark-color);
  background-color: var(--bs-danger);
  color: var(--white-color);
  top: .5rem;
  right: .5rem;
}

.modal__close:hover {
  opacity: 0.8;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}