.principal__header {
  min-height: 320px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .principal__header {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .principal__header {
    min-height: 170px;
  }
}

@media screen and (min-width: 1024px) {
  .principal__header {
    min-height: 180px;
  }
}
