/***logo footer**/
.logo__footer {
  height: auto;
  width: 60px;
}

/***text autor**/
.text_autor {
  font-size: 0.8em;
  margin: 1.25rem 0 0;
}

/***options view**/
.options__container {
  overflow-x: hidden;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.options__hw {
  width: 100%;
  height: 50vh;
  min-height: 765px;
}

.drop__zone.is-active {
  border: thick dashed var(--third-alpha-color);
  background-color: var(--second-alpha-color);
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
}

.drop__zone:hover {
  animation: pulse 1.2s infinite;
  background: var(--dark-color);
}

.options__input {
  cursor: pointer;
  min-width: 200px;
  background-color: var(--white-color);
  height: 48px;
  border: 2px solid var(--second-color);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.options__input svg {
  margin-left: 2rem;
}

.options__input span {
  margin-left: 2rem;
  font-family: var(--font);
  font-weight: 400;
}

.options__input input[type='file'] {
  position: absolute;
  top: -1000px;
}

.options__input:hover {
  background-color: var(--white-bg-color);
}

.options__input:active {
  background-color: var(--second-alpha-color);
  color: var(--white-color);
}

.options__input:active svg path {
  fill: var(--white-color);
}

.options__input:invalid + span {
  color: var(--third-color);
}

.options__input:valid + span {
  color: var(--first-color);
}

.w-options__btns {
  min-width: 240px;
  width: 100%;
}

/***main view**/
.m-input__files {
  width: 100%;
}

.bg__container {
  height: 100vh;
}

.bg__container-form {
  height: 100vh;
}

.w-main-logo {
  width: 224px;
  height: auto;
}

.main__raison {
  background-color: var(--gray-bg-color);
  height: min-content;
}

.main__grid {
  display: grid;
  grid-template: auto / repeat(1, 1fr);
  justify-items: center;
  row-gap: 3rem;
  padding-top: 3rem;
  margin: 0 auto;
}

.main__grid section {
  align-items: center;
}

/***home view**/
.home__main {
  width: 300px;
  height: 704px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--gray-light-color);
  border-radius: 16px;
}

.container__buttons-main {
  width: 300px;
}


.card__main-principal {
  width: 300px;
  height: 400px;
  border: 1px solid var(--gray-light-color);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: var(--white-bg-color);
}

.card__main-principal .img__card {
  width: 120px;
  height: auto;
}

.card__main-principal h3 {
  color: var(--first-alpha-color);
}

.button__link-main {
  width: 148px;
  height: 48px;
  display: flex;
  font-weight: 700;
  letter-spacing: 0.04rem;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: var(--first-color);
  color: var(--white-color);
  margin: 0.5rem 0;
}

.button__link-main.two {
  border: 2px solid var(--first-alpha-color);
  color: var(--first-color);
  background-color: transparent;
}

.button__link-main.three {
  border: 2px solid var(--dark-color);
  color: var(--dark-color);
  background-color: transparent;
}

.button__link-main.one:hover {
  color: var(--white-color);
}

/***utilities***/

/***colors**/
.primary-bg,
.primary-bg:hover,
.primary-bg:active {
  background-color: var(--first-color);
  border-color: var(--first-color);
}

.primary-bg:disabled {
  opacity: 0.75;
  background-color: var(--first-color);
  border-color: var(--first-color);
}

.third-bg {
  background-color: var(--third-color);
}

.dark-bg {
  background-color: var(--dark-color);
}

/***text**/
.white-color {
  color: var(--white-color) !important;
}

.gray-light-color {
  color: var(--gray-light-color);
}

.text-justify {
  text-align: justify;
}

/***border**/
.primary-border {
  border-color: var(--first-color);
  border-radius: 4px;
}

.primary-border:hover {
  opacity: 0.8;
}

.h-first {
  font-size: 1.1rem !important;
}

.h-first:hover {
  color: var(--first-color);
}

.wh-grap {
  height: 16px;
  width: auto;
}

.m-desc {
  width: 100%;
  margin: 0 auto;
}

.mx-input {
  margin: 0 2rem;
}

.fs-small {
  font-size: 12px;
}

.fs-text {
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color);
}

.letters-s-1 {
  letter-spacing: 0.1rem;
}

.letters-s-05 {
  letter-spacing: 0.05rem;
}

.w-90 {
  width: 90%;
}

.w-nav-auto {
  width: 100%;
}

.flex-g-7 {
  flex-grow: 0.2;
}

.all-animations {
  transition: all 1s ease-in-out;
}

.w-main {
  width: 80%;
}

@media (min-width: 576px) {
  .m-desc {
    width: 80%;
  }

  .mx-input {
    margin: 0 5rem;
  }

  .w-main {
    width: 50%;
  }

  .w-nav-auto {
    width: 80%;
  }

  .container__buttons-main {
    width: 512px;
  }

  .card__main-principal {
    width: 368px;
    height: 384px;
  }

  .home__main {
    width: 512px;
    height: 480px;
  }
}

@media (min-width: 768px) {
  .wh-grap {
    height: 100%;
    width: 16px;
  }

  .fs-small {
    font-size: 14px;
  }

  .w-nav-auto {
    width: 60%;
  }

  .w-main {
    width: 75%;
  }

  .m-desc {
    width: 70%;
  }

  .mx-input {
    margin: 0 3rem;
  }

  .h-dm-100 {
    height: 100%;
  }

  .bg__start {
    background-image: url(./assets/bg_start.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg__container {
    background-color: var(--white-bg-color);
    width: 420px;
    height: 380px;
    border-radius: 8px;
  }

  .bg__container-form {
    background-color: var(--white-bg-color);
    height: 528px !important;
    width: 420px;
    border-radius: 8px;
  }

  .options__container {
    flex-direction: row;
  }

  .options__hw {
    width: 50vw;
    height: 100%;
    min-height: 100%;
  }

  .container__buttons-main {
    width: 496px;
  }

  .card__main-principal {
    grid-column: span 2;
  }

  .card__main-principal {
    width: 600px;
    height: 288px;
  }

  .home__main {
    width: 720px;
    height: 280px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }

  .main__grid {
    grid-template: auto / repeat(2, 1fr);
  }

  .button__link-main {
    margin: 0 0.4rem;
  }

  .m-input__files {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 992px) {
  .m-desc {
    width: 50%;
  }

  .mx-input {
    margin: 0 3rem;
  }

  .w-nav-auto {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .main__grid {
    grid-template: auto / repeat(3, 1fr);
  }

  .main__raison {
    height: 592px;
  }

  .card__main-principal {
    grid-column: span 3;
  }

  .card__main-principal .img__card {
    width: 148px;
    height: auto;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.12);
  }
}
