/************** Custom Properties ***************/
:root {
  --first-color: #41b883;
  --first-alpha-color: #5dc596;
  --second-color: #34495e;
  --second-alpha-color: #34495ecc;
  --third-color: #475050;
  --third-alpha-color: #475050cc;

  --white-color: #ffffff;
  --gray-light-color: #d0d0d0;
  --gray-color: #a9a9a9;
  --gray-dark-color: #606060;
  --dark-color: #202020;

  --link-color: #509ee3;
  --title-color: #343434;
  --text-color: #171717;

  --white-alpha-color: #ffffff80;
  --white-bg-color: #f4f4f4;
  --black-alpha-color: #00000080;
  --drop-shadow: #ffffff80;

  --font: 'Poppins', sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/************** Reset ***************/

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: var(--font);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85rem;
}

h6 {
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: var(--font);
  font-size: 20px;
  font-weight: 400;
}
