.card__detect {
  min-height: 240px;
  min-width: 394px;
  height: min-content;
  display: flex;
  border: 1px solid var(--gray-light-color);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: var(--white-bg-color);
}

.card__detect img {
}
