.card__detect {
  min-height: 240px;
  max-width: 300px;
  border: 1px solid var(--gray-light-color);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: var(--white-bg-color);
}

@media screen and (min-width: 768px) {
  .card__detect {
    min-height: min-content;
    min-width: min-content;
    max-width: 720px;
  }
}
