/* options view */
.fixed-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.2rem;
}

.btn__messages {
  border-radius: 36px;
}

.btn-transparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

.options__container {
  overflow-x: hidden;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.options__hw {
  width: 100%;
  height: 50vh;
  min-height: 765px;
}

.drop__zone:hover {
  animation: pulse 1.2s infinite;
  background: var(--dark-color);
}

.options__input {
  cursor: pointer;
  min-width: 200px;
  background-color: var(--white-color);
  height: 48px;
  border: 2px solid var(--second-color);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.options__input svg {
  margin-left: 2rem;
}

.options__input span {
  margin-left: 2rem;
  font-family: var(--font);
  font-weight: 400;
}

.options__input:hover {
  background-color: var(--white-bg-color);
}

.options__input:active {
  background-color: var(--second-alpha-color);
  color: var(--white-color);
}

.options__input:active svg path {
  fill: var(--white-color);
}

.options__input:invalid + span {
  color: var(--third-color);
}

.options__input:valid + span {
  color: var(--first-color);
}

.w-options__btns {
  min-width: 240px;
  width: 100%;
}

.webcam__img {
  max-width: calc(10vw + 36vh);
}

.logo__footer {
  height: auto;
  width: 60px;
}

/* main view */

.bg__container {
  height: 100vh;
}

.bg__container-form {
  height: 100vh;
}

.w-image {
  max-width: 360px;
  max-height: 360px;
  width: 50%;
}

.w-main-logo {
  width: 224px;
  height: auto;
}

.main__raison {
  background-color: var(--gray-bg-color);
  height: min-content;
}

.main__modal img {
  max-width: 240px;
}

.btn-fixed {
  position: absolute;
  top: 0.8rem;
  min-width: 64px;
  max-width: 72px;
  min-height: 64px;
  left: 0.8rem;
  border-radius: 50%;
  border-color: var(--third-color) !important;
  background: var(--first-color) !important;
}

.btn-fixed:focus {
  box-shadow: 0 0 0 0 transparent !important;
}

.btn-fixed:hover {
  opacity: 0.8;
}

.link-fixed,
.link-fixed-detect {
  white-space: nowrap;
  background-color: #f4f4f4;
  min-width: 60px;
  bottom: 0.72rem;
  right: 0.5rem;
  text-decoration: underline;
}

.link-fixed-detect {
  bottom: 5.2rem;
  right: 0.32rem;
}

.main__grid {
  display: grid;
  grid-template: auto / repeat(1, 1fr);
  justify-items: center;
  column-gap: 1rem;
  row-gap: 3rem;
  padding-top: 3rem;
  margin: 0 auto;
}

.main__grid section {
  align-items: center;
}

/***home view**/

.home__main {
  width: 300px;
  height: 704px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--gray-light-color);
  border-radius: 16px;
}

.container__buttons-main {
  width: 300px;
}

.main__grid-fit {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.main__grid-detect {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  background-color: var(--gray-bg-color);
  column-gap: 1rem;
  row-gap: 3rem;
}

.card__main-principal {
  width: 300px;
  height: min-content;
  border: 1px solid var(--gray-light-color);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: var(--white-bg-color);
}

.card__main-principal .img__card {
  width: 120px;
  height: auto;
}

.card__detect-modal {
  max-height: fit-content;
}

.button__link-main {
  width: 148px;
  height: 48px;
  display: flex;
  font-weight: 700;
  letter-spacing: 0.04rem;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: var(--first-color);
  color: var(--white-color);
  margin: 0.5rem 0;
}

.button__link-main.two {
  border: 2px solid var(--first-alpha-color);
  color: var(--first-color);
  background-color: transparent;
}

.button__link-main.three {
  border: 2px solid var(--dark-color);
  color: var(--dark-color);
  background-color: transparent;
}

.button__link-main.one:hover {
  color: var(--white-color);
}

/* Utilities */

/* colors */

.primary-bg,
.primary-bg:hover {
  background-color: var(--first-color);
  border-color: var(--first-color);
}

.primary-bg:disabled {
  opacity: 0.8;
  background-color: var(--first-color);
  border-color: var(--first-color);
}

.secondary-bg,
.secondary-bg:hover {
  background-color: var(--second-color);
  border-color: var(--second-color);
}

.first-bg {
  background-color: var(--first-color) !important;
}

.third-bg {
  background-color: var(--third-color) !important;
}

.dark-bg {
  background-color: var(--dark-color) !important;
}

/***text**/

.dark-color {
  color: var(--text-color) !important;
}

.white-color {
  color: var(--white-color) !important;
}

.first-color {
  color: var(--first-color) !important;
}

.link-color {
  color: var(--link-color) !important;
}

.gray-light-color {
  color: var(--gray-light-color) !important;
}

.text-justify {
  text-align: justify !important;
}

.link-undecorate {
  list-style: none;
}

.link-undecorate p {
  max-height: 100px;
  text-overflow: ellipsis;
}

/***border**/
.primary-border {
  border-color: var(--first-color);
  border-radius: 4px;
}

.primary-border:hover {
  opacity: 0.8;
}

.mx-input {
  margin: 0 2rem;
}

.pointer {
  cursor: pointer;
}

.over-y {
  overflow-y: auto;
}

/* fonts */

.fs-text {
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color);
}

.fs-overflow {
  text-align: center;
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fs-small-12 {
  font-size: 12px;
}

.fs-small-14 {
  font-size: 14px;
}

.letters-s-1 {
  letter-spacing: 0.1rem;
}

.letters-s-5 {
  letter-spacing: 0.05rem;
}

.h-first {
  font-size: 1.1rem !important;
}

.h-first:hover {
  color: var(--first-color);
}

.wh-grap {
  height: 16px;
  width: auto;
}

/*  width and height */

.h-card {
  min-height: 72px;
}

.w-90 {
  width: 90%;
}

.w-nav-auto {
  width: 100%;
}

.w-card-detect {
  width: 100%;
}

.flex-g-7 {
  flex-grow: 0.2;
}

.w-main {
  width: 80%;
}

.w-title {
  max-width: 80%;
  max-height: 34px;
}

/* animations */

.all-animations {
  transition: all 0.5s ease-in-out;
}

.all-animations:hover {
  opacity: 0.8;
}

.h-card-title {
  max-height: 42px;
}

@media (min-width: 576px) {
  .mx-input {
    margin: 0 5rem;
  }

  .w-main {
    width: 50%;
  }

  .w-nav-auto {
    width: 90%;
  }

  .w-card-detect {
    width: 80%;
  }

  .w-image {
    width: 25%;
  }

  .container__buttons-main {
    width: 512px;
  }

  .card__main-principal {
    width: 368px;
    height: min-content;
  }

  .home__main {
    width: 512px;
    height: 480px;
  }

  .btn-fixed {
    top: 1rem;
    left: 1rem;
  }
}

@media (min-width: 768px) {
  .fs-small-12 {
    font-size: 14px;
  }

  .link-fixed-detect {
    bottom: 4.4rem;
    right: 1.2rem;
  }

  .link-fixed {
    bottom: 0.30rem;
    right: 1rem;
  }

  .fs-small-14 {
    font-size: 1rem;
  }

  .w-nav-auto {
    width: 80%;
  }

  .w-card-detect {
    width: 60%;
    min-width: 240px;
    max-width: 360px;
  }

  .w-main {
    width: 70%;
  }

  .w-image {
    width: 25%;
  }

  .wh-grap {
    height: 100%;
    width: 16px;
  }

  .mx-input {
    margin: 0 3rem;
  }

  .h-dm-100 {
    height: 100%;
  }

  .bg__start {
    display: flex;
    justify-content: center;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 99.99%,
        rgba(255, 255, 255, 0) 100%
      ),
      url(./assets/background.png) center no-repeat;
    background-size: cover;
    align-items: center;
  }

  .bg__container {
    background-color: var(--white-bg-color);
    width: 420px;
    height: 380px;
    border-radius: 8px;
  }

  .bg__container-form {
    background-color: var(--white-bg-color);
    height: 528px !important;
    width: 420px;
    border-radius: 8px;
  }

  .options__container {
    flex-direction: row;
  }

  .options__hw {
    width: 50vw;
    height: 100%;
    min-height: 100%;
  }

  .container__buttons-main {
    width: 496px;
  }

  .card__main-principal {
    grid-column: span 3;
  }

  .card__main-principal {
    width: 600px;
    height: 288px;
  }

  .home__main {
    width: 720px;
    height: 280px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }

  .main__grid-detect {
    grid-template: auto / repeat(auto-fit, minmax(394px, 1fr));
  }

  .main__grid {
    grid-template: auto / repeat(2, 1fr);
  }

  .link-item:nth-child(3) {
    grid-column: span 2;
  }

  .button__link-main {
    margin: 0 0.4rem;
  }

  .btn-fixed {
    top: auto;
    bottom: 2.4rem;
    left: calc(50% - 36px);
  }
}

@media screen and (min-width: 992px) {
  .mx-input {
    margin: 0 3rem;
  }

  .w-nav-auto {
    width: 70%;
  }

  .card-item-fit:nth-child(4) {
    grid-column: span 3;
  }

  .w-card-detect {
    width: 50%;
  }

  body {
    -webkit-text-size-adjust: none;
  }
}

@media screen and (min-width: 888px) {
  .card-item-fit:nth-child(4) {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1200px) {
  [id] {
    scroll-margin-top: 8ex;
  }

  .main__grid {
    grid-template: auto / repeat(3, 1fr);
  }

  .card-item-fit:nth-child(4) {
    grid-column: auto;
  }

  .h-fit {
    height: 75%;
  }

  .main__raison {
    height: 592px;
  }

  .w-nav-auto {
    width: 50%;
  }

  .w-card-detect {
    width: 40%;
  }

  .card__main-principal .img__card {
    width: 148px;
  }

  .link-item:nth-child(3) {
    grid-column: auto;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}
